<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Login & Registration</title>
</head>
<body>
    <div class="container">
        
        {% if messages %}
        <div class="alert alert-danger" role="alert">
            <ul>
            {% for message in messages %}
            <li>{{message}}</li>
            {% endfor %}
            </ul>
        </div>
        {% endif %}

        <div class="row d-flex justify-content-center">
            <div class="register col-sm-12 col-md-6 col-lg-4">
                <h2>Register</h2>

                <form action="/register" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="text" class="form-control" name="first_name" placeholder="First Name">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="last_name" placeholder="Last Name">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" name="email" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="password" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="confirm_password" placeholder="Confirm Password">
                    </div>
                    <button class="btn btn-primary btn-block" type="submit">Register</button>
                </form>
            </div>
            <div class="login col-sm-12 col-md-6 col-lg-4">
                <h2>Login</h2>
                <form action="/login" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <input type="email" class="form-control" name="email" placeholder="Enter email">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" name="password" placeholder="Password">
                    </div>
                    <button class="btn btn-primary btn-block" type="submit">Login</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>